@import 'https://fonts.googleapis.com/css?family=Poppins';
@import 'https://fonts.googleapis.com/css?family=Playfair';
* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body{
    margin: 0;
    background-color: #efefef;
}
img {
    width: 100%;
}
.content {
    /* padding: 5px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.opt-in-form {
    padding: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#opt-in-email, #opt-in-name, #opt-in-password{
    padding: 10px;
    width: 40%;
    outline: none;
    border: 1px solid white ;
    border-radius: 10px;
}

/* General styling for inputs */
.opt-in-form > input[type='text']:focus, input[type='email']:focus{
    outline: none;
    background: rgba(0, 120, 250, 0.1);
    transition: transform 0.2s ease;
}
.opt-in-form > button {
    font-size: 1rem;
    margin-top: 30px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #2c405e;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.opt-in-form > button:focus {
    outline: none;
}

/* Modals styling */
.signup-modal-container{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}
#signup-name, #signup-email, #signup-password, #signup-bio {
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid white ;
    border-radius: 10px;
}
#signup-name:focus, #signup-email:focus, #signup-password:focus {
    outline: none;
    background: rgba(0, 120, 250, 0.1);
    transition: transform 0.2s ease;
}
.signup-modal-container.show {
    pointer-events: auto;
    opacity: 1;
}
#signup-form .error {
    color: red;
    font-weight: bold;
}

.login-modal-container{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}
#login-email, #login-password {
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid white ;
    border-radius: 10px;
}
.login-modal-container.show {
    pointer-events: auto;
    opacity: 1;
}
#login-form .error {
    color: red;
    font-weight: bold;
}

.account-modal-container{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}
.account-modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.interview-modal-container{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}
#interviewee-name, #interviewee-video-link, #interviewee-bio, #interviewee-website {
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid white ;
    border-radius: 10px;
}
.interview-modal-container.show {
    pointer-events: auto;
    opacity: 1;
}
#interviewee-name:focus, #interviewee-video-link:focus, #interviewee-bio:focus, #interviewee-website:focus {
    outline: none;
    background: rgba(0, 120, 250, 0.1);
    transition: transform 0.2s ease;
}
#login-form .error {
    color: red;
    font-weight: bold;
}

.modal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 30px 50px;
    background-color: #efefef;
    width: 600px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 15px;
}

.close::after {
    content: url("../icons/closeblack.svg");
  }

.modal button {
    margin-top: 30px;
    background-color: #47a386;
    color: white;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
    border-style: none;
}

.modal button:focus {
    outline: none;
}

.modal h1 {
    margin: 0;
}
.modal p {
    font-size: 14px;
    opacity: 0.7;
}

.interviews{
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin: 10px;
    overflow: hidden;
}

.interviews .video{
    padding: 7px 5px 0 6px;
    width: 50%;
}
iframe{
    border-radius: 5px;
}

.interviews .info {
    font-size: 1rem;
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.interviews .info a{
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #2c405e;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.admin #admin-email{
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid white ;
    border-radius: 10px;
}

.admin button {
    margin-top: 30px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #2c405e;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
}

.view-interviews {
    text-align: center;
    align-self: center;
    margin-top: 30px;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #2c405e;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
}

#opt-in-form .error {
    color: red;
    font-weight: bold;
}

.thankyou-modal-container{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}
.thankyou-modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.intro-text {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px;
    width: 90%;
    /* align-self: center; */
}

.reserve-seat {
    font-size: 1.5em;
    text-align: center;
    align-self: center;
    margin: 20px 20px 20px 400px;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #0b6623;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.event-date{
    margin: 0 0 0 50px;
    font-size: 1.4em;
    /* width: 100%; */
    font-weight: bold;
}

sup {
    font-size: 15px;
}

.intro-text-que {
    margin: 0;
    font-size: 2.5em;
    width: 100%;
    font-weight: bolder;
}
.intro-que {
    padding: 30px;
}
.intro-text-que-main {
    margin: 0;
    font-size: 1.3em;
    width: 100%;
    font-weight: bold;
}

.push{
    margin-left: 30px;
}

/* responsiveness */
@media (max-width: 480px) {
    .interviews{
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        margin: 10px;
    }
    
    .interviews .video{
        padding: 7px 5px 0 6px;
        width: 100%
    }
    iframe{
        border-radius: 5px;
    }
    
    .interviews .info {
        font-size: 1rem;
        padding: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .interviews .website {
        margin-bottom: 10px;
    }
    .content.push {
        transform: translateY(20%);
        /* margin-top: 200px; */
        /* transition: all 0.3s ease; */
        transition: transform 0.4s ease;
    } 
    .banner.push {
       margin-top: 300px;
       transition: all 0.3s ease; 
    }
    .event-date{
        margin: 0 0 0 90px;
        font-size: 1.4em;
        font-weight: bold;
    }

    .intro-video {
        width: 90%;
    }

    .intro-video iframe{
        width: 100%;
    }

    .intro-text-que-main.p1, .intro-text-que-main.p2 {
        margin: 0;
        font-size: 1.3em;
        width: 100%;
        font-weight: bold;
    }
    .intro-text-que-main.push {
        margin-left: 10px
    }

    .reserve-seat {
        font-size: 1.2em;
        text-align: center;
        align-self: center;
        margin: 20px 20px 20px 200px;
        text-decoration: none;
        border-style: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px;
        background-color: #0b6623;
        color: white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }

    .intro-text-que {
        margin-left: 20px;
        font-size: 2em;
        width: 100%;
        font-weight: bolder;
    }
}
