@import 'https://fonts.googleapis.com/css?family=Poppins';
@import 'https://fonts.googleapis.com/css?family=Playfair';
* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body{
    margin: 0;
    background-color: #efefef;
}
img {
    width: 100%;
}
.content {
    /* padding: 5px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.opt-in-form {
    padding: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#opt-in-email, #opt-in-name, #opt-in-password, #opt-in-confirm{
    padding: 10px;
    width: 40%;
    outline: none;
    border: 1px solid white ;
    border-radius: 10px;
}

/* General styling for inputs */
.opt-in-form > input[type='text']:focus, input[type='email']:focus{
    outline: none;
    background: rgba(0, 120, 250, 0.1);
    transition: transform 0.2s ease;
}
.opt-in-form > button {
    font-size: 1rem;
    margin-top: 30px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #0b6623;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.opt-in-form > button:focus {
    outline: none;
}

/* Modals styling */
.signup-modal-container{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}
#signup-name, #signup-email, #signup-password, #signup-bio {
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid white ;
    border-radius: 10px;
}
#signup-name:focus, #signup-email:focus, #signup-password:focus {
    outline: none;
    background: rgba(0, 120, 250, 0.1);
    transition: transform 0.2s ease;
}
.signup-modal-container.show {
    pointer-events: auto;
    opacity: 1;
}
#signup-form .error {
    color: red;
    font-weight: bold;
}

.login-modal-container{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}
#login-email, #login-password {
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid white ;
    border-radius: 10px;
}
.login-modal-container.show {
    pointer-events: auto;
    opacity: 1;
}
#login-form .error {
    color: red;
    font-weight: bold;
}

.account-modal-container{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}
.account-modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

/* Interviews page  */
.logged-out-notification {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logged-out-notification img {
    width: 30%;
    height: 30%;
    padding: 20px;
}

.logged-out-notification .log-notif {
    font-size: 1.5em;
    font-weight: bolder;
}

.interview-modal-container{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}
#interviewee-name, #interviewee-video-link, #interviewee-bio, #interviewee-website {
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid white ;
    border-radius: 10px;
}
.interview-modal-container.show {
    pointer-events: auto;
    opacity: 1;
}
#interviewee-name:focus, #interviewee-video-link:focus, #interviewee-bio:focus, #interviewee-website:focus {
    outline: none;
    background: rgba(0, 120, 250, 0.1);
    transition: transform 0.2s ease;
}
#login-form .error {
    color: red;
    font-weight: bold;
}

.modal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 30px 50px;
    background-color: #efefef;
    width: 600px;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 15px;
}

.close::after {
    content: url("../icons/closeblack.svg");
  }

.modal button {
    margin-top: 30px;
    background-color: #0b6623;
    color: white;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
    border-style: none;
}

.modal button:focus {
    outline: none;
}

.modal h1 {
    margin: 0;
}
.modal p {
    font-size: 14px;
    opacity: 0.7;
}

.interviews{
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin: 10px;
    overflow: hidden;
}

.interviews .video{
    padding: 7px 5px 0 6px;
    margin-left: 0;
    width: 45%;
}
iframe{
    border-radius: 5px;
}

.interviews .info {
    font-size: 1rem;
    padding: 10px;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.interviews .info a{
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #0b6623;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.admin #admin-email{
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid white ;
    border-radius: 10px;
}

.admin button {
    margin-top: 30px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #0b6623;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
}

.view-interviews {
    text-align: center;
    align-self: center;
    margin-top: 30px;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #0b6623;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); 
}

#opt-in-form .error {
    color: red;
    font-weight: bold;
}

.thankyou-modal-container{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}
.thankyou-modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.intro-text {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px;
    width: 90%;
    /* align-self: center; */
}

.reserve-seat {
    font-size: 1.5em;
    width: 20%;
    text-align: center;
    align-self: center;
    margin: 20px 20px 20px 0;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #0b6623;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.event-date{
    margin: 0 0 0 50px;
    font-size: 1.4em;
    font-weight: bold;
}

sup {
    font-size: 15px;
}

.intro-text-que {
    margin: 0;
    font-size: 2.5em;
    width: 100%;
    font-weight: bolder;
}
.intro-text-que-main {
    margin: 0;
    font-size: 2.5em;
    width: 100%;
    font-weight: bolder;
}
.intro-que {
    padding: 30px;
}
.intro-text-que-main.p0, .intro-text-que-main.p1, .intro-text-que-main.p2, .intro-text-que-main.p3, .intro-text-que-main.p4 {
    margin: 0;
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
}

.modal .success_msg_first {
    font-size: 2em;
    font-weight: bold;
}

.modal .success_msg {
    font-size: 1.5em;
    font-weight: bolder;
}

.reserve_content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.reserve_content .fill_details_lead {
    font-size: 2em;
    font-weight: bolder;
}
.reserve_content .fill_details_lead2, .reserve_content .fill_details_lead3{
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}

.reserve_content .fill_details_kindly {
    font-size: 1em;
    font-weight: bold;
}

/* Sessions page styling */
.session-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.host-head, .speaker-head {
    color: #0b6623;
    font-weight: bold;
    font-size: 1.2em;

}

/* Host and Speaker section styling */
.session-content .host .host-card, .session-content .speaker .speaker-card {
    width: 300px;
    height: 330px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background-color: whitesmoke;
    border-radius: 10px;
    border: lightgrey 2px solid;
    margin: 10px;
}

.host, .speaker {
    margin-bottom: 20px;
}

.session-content .host .host-card:hover, .session-content .speaker .speaker-card:hover {
    transform: rotateY(180deg)
}

.session-content .host .host-card .front, .session-content .speaker .speaker-card .front {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    backface-visibility: hidden;
    border-radius: 10px;
    border: lightgrey 1px solid;
}

.session-content .host .host-card .back, .session-content .speaker .speaker-card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;
    transform: rotateY(180deg);
    border-radius: 10px;
    border: lightgrey 1px solid;
}

.session-content .host .host-card .front .host-image, .session-content .speaker .speaker-card .front .speaker-image {
    padding: 10PX 10px 0 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.session-content .host .host-card .front .host-image img, 
.session-content .speaker .speaker-card .front .speaker-image img {
    width: 70%;
    height: 80%;
    border-radius: 50%;
    border: 2px solid #7bdd95;
}

/* Styling images for speaker cards with more than one line of quote */
.session-content .speaker .speaker-card:nth-child(2) .front .speaker-image img, 
.session-content .speaker .speaker-card:nth-child(3) .front .speaker-image img {
    width: 70%;
    height: 90%;
}

/* Suki as a host image reworks */
.session-content .host #suki .front .host-image img {
    width: 70%;
    height: 90%;
}
/* Suki as a speaker image reworks */
.session-content .speaker #suki .front .speaker-image img {
    width: 70%;
    height: 80%;
}

.session-content .host .host-card .front .host-info, 
.session-content .speaker .speaker-card .front .speaker-info {
    padding: 0 10px 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.session-content .host .host-card .back, .session-content .speaker .speaker-card .back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.session-content .host .host-card .back .info, 
.session-content .speaker .speaker-card .back .info{
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.session-content .host .host-card .front .host-info span:nth-child(1),
.session-content .host .host-card .front .host-info span:nth-child(3),
.session-content .speaker .speaker-card .front .speaker-info span:nth-child(1),
.session-content .speaker .speaker-card .front .speaker-info span:nth-child(3){
    color: #0b6623;
}

/* Speaker styling */
.session-content .speaker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.reserve-seat-session {
    font-size: 15px;
    text-align: center;
    align-self: flex-end;
    margin: 20px;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #0b6623;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.redirect-btns {
    padding: 35px;
}
.go-to-login {
    font-size: 15px;
    text-align: center;
    align-self: center;
    margin: 20px;
    text-decoration: none;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #0b6623;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* Extra info mid and end */
.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
}
.mid-info {
    width: 50%;
}
.mid-info p {
    text-align: center;
    margin: 0;
    font-size: 1.1em;
    width: 100%;
}

/* Wait modal and its container */
.exitintent-modal-container{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
}
.exitintent-modal-container.show {
    pointer-events: auto;
    opacity: 1;
}


/* responsiveness */
@media (max-width: 480px) {
    .interviews{
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        margin: 10px;
    }
    
    .interviews .video{
        /* padding: 7px 5px 0 6px; */
        width: 100%
    }
    .interviews .video #video_link{
        width: 100%;
        border-radius: 5px;
    }
    iframe{
        border-radius: 5px;
    }
    
    .interviews .info {
        font-size: 1rem;
        padding: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .interviews .website {
        margin-bottom: 10px;
    }
    .content.push {
        transform: translateY(20%);
        transition: transform 0.4s ease;
    } 
    .banner.push {
       margin-top: 300px;
       transition: all 0.3s ease; 
    }

    .headers {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .event-date{
        align-self: center;
        font-size: 1em;
        font-weight: bold;
        width: 50%;
    }
    sup {
        font-size: 10px; 
    }

    .intro-que:last-child {
        padding: 15px;
    }

    .intro-video {
        width: 90%;
    }

    .intro-video iframe{
        width: 100%;
    }

    .intro-text-que-main.p0, .intro-text-que-main.p1, .intro-text-que-main.p2, .intro-text-que-main.p3, .intro-text-que-main.p4 {
        margin: 0;
        font-size: 14px;
        width: 100%;
        font-weight: lighter;
    }

    .intro-text-que-main.p1, .intro-text-que-main.p2 {
        margin: 0;
        width: 100%;
    }
    .intro-text-que-main.push {
        margin-left: 10px
    }

    .reserve-seat {
        width: 50%;
        font-size: 14px;
    }

    .intro-text-que {
        font-size: 1.05em;
        color: #0b6623;
        line-break: auto;
        width: 100%;
        font-weight: bold;
    }
    .intro-text-que-fvr {
        font-size: 1em;
        line-break: auto;
        width: 100%;
        font-weight: bold;
    }

    span.fvr {
        display: block !important;
        margin: 5px 0 0 90px;
        font-size: 1em;
        width: 50%;
    }

    /* Reserve seat form  */
    .reserve_content .fill_details_lead {
        font-size: 1.5em;
        font-weight: bolder;
    }
    .reserve_content .fill_details_lead2, .reserve_content .fill_details_lead3{
        font-size: 1em;
        margin: 0;
        font-weight: bold;
    }
    
    .reserve_content .fill_details_kindly {
        font-size: 13px;
        text-align: center;
        font-weight: lighter;
    }

    #opt-in-email, #opt-in-name, #opt-in-password, #opt-in-confirm{
        width: 100%;
    }

    .opt-in-form > button {
        font-size: 12px;
        margin-top: 30px;
        border-style: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px;
        background-color: #0b6623;
        color: white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }

    .reserve-seat-session {
        font-size: 15px;
        text-align: center;
        align-self: center;
        margin: 20px;
        text-decoration: none;
        border-style: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px;
        background-color: #0b6623;
        color: white;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }

    /* Interviews page when logged out */
    .logged-out-notification {
        padding: 10px;
    }
    .logged-out-notification img {
        width: 100%;
        height: 100%;
    }
    
    .logged-out-notification .log-notif {
        text-align: center;
    }

    .redirect-btns {
        padding: 20px;
    }

    .go-to-login {
        margin: 20px;
    }

    /* Extra info mid and end */
    .mid-info {
        width: 100%;
    }

    .mid-info p {
        font-size: 14px;
    }

    iframe{
        height: 100%;
    }
}
